
<div class="Editor component object">
  <style>
  .Editor{}
  .Editor .header{
    height: 10px;
    background-color: #000;
  }
  .Editor .header:hover{cursor:grab;}
  .Editor .window textarea{background-color: rgba(0,0,0,0);}
  </style>

  <div class="window">
    <div class="header"></div>
    <textarea></textarea>
  </div>

  <script>
  (async ()=>{
    const component = document.querySelector(".Editor:last-child");
    component.style.left = '100px';
    component.style.top = '100px';

    component.querySelector(".window").addEventListener('click', function(e){e.stopPropagation();}); //背景がドラッグされないよう
  })();
  </script>
</div>
