
<div class="Window component object">

  <style>
  .Window{
    width: calc(150px - 2px);
    height: calc(150px - 2px);
    min-width: 150px;
    min-height: 19px;
    background-color: #FFF;
    border: solid 1px #000;
    resize: both;
    overflow: auto;
  }
  .Window.icon_tab{
    height: 19px;
    resize: horizontal;
  }
  .Window .body{
    width: 100%;
    height: calc(100% - 20px);
  }
  .Window .body .setting{
    margin-top: 3px;
    background-color: #888;
    width: 100%;
    height: calc(100% - 3px);
  }
  .Window .body .setting .page{
    font-size: 10px;
    padding: 3px;
    width: calc(100% - 6px);
    height: 100%;
  }
  .Window .body .setting .page .area{
    border: solid 1px;
    padding: 1px;
    margin-bottom: 3px;
  }
  .Window .body .setting .page .title{}
  .Window .body .setting .page .area .title{
    border-bottom: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .Window .body .setting .page .area .content{
    padding-left: 5px;
  }
  .Window .body .setting .page .area .content div{
    margin-bottom: 1px;
  }
  </style>

  <script>
  (async function(){
    const Import = global['command']['Component'];


    const component = document.querySelector(".Window:last-child");
    const header = await Import('Component:Header');
    header.querySelector(".controller").addEventListener('click', function(){
      component.classList.remove('icon_tab');
    });
    component.insertBefore(header, component.firstElementChild);


    let f = document.createDocumentFragment();
    f.appendChild( await global['command']['Component']('Component:Button') );
    f.appendChild( await global['command']['Component']('Component:Button') );
    f.appendChild( await global['command']['Component']('Component:Button') );
    ['alert','warn','safe'].map((c,i)=>f.children[i].classList.add(c));

    f.querySelector(".alert").addEventListener('click', function(){
      component.remove(); //window close
    });
    f.querySelector(".warn").addEventListener('click', function(){
      component.classList.add('icon_tab');
    });
    f.querySelector(".safe").addEventListener('click', function(){

    });
    component.querySelector(".body .setting .core .area").appendChild(f);
  })();
  </script>

  <div class="body">
    <div class="setting hiding">

      <div class="page core">
        <div class="area">
          <!--
          <div class="close button alert" style="margin-right:1px;"></div>
          <div class="hide button warn" style="margin-right:1px;"></div>
          <div class="scale button safe" style="margin-right:1px;"></div>
          -->
        </div>
      </div>

      <div class="page test hiding">
        <div class="title">TestPage</div>
        <div class="area">
          <div class="title">Area</div>
          <div class="content">
            <div>content...</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
